





  <!--Display Panel-->
  <section class="">
  
    <div class="">
     
      </div>
    </div>
    
    
    <div class="row mx-2">
      <ul class="list-group p-0 w-100">
      
        <div class="mx-auto" style="width: 200px;">
  <button class="btn btn-success px-5 btn-add btn-lg" onclick="window.location.href='/admin/search/new'">New</button>
<br>
<br>
<br>
<button class="btn btn-success px-5 btn-add btn-lg" onclick="window.location.href='/admin/search/new'">New</button>

</div>
         <div class="table-wrapper">
                         <div class="col-md-4 center-block">
      <div  class="col-md-4 center-block">
       
      </div>
    </div>
    <br>
        <input class="form-control" type="text" id="searchBar" onkeyup="myFunction()" placeholder="Filter Table..." title="Type in a name">
            <table class="table table-dark table-hover" id="searchTable">
  
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Shop Name</th>
                        <th scope="col">Shop Category</th>
                        <th scope="col">POI</th>
                        <th scope="col">Radius</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Search</th>

                    </tr>
                </thead>
                       
            
        {{#each records}}
       <tbody>
                    
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.shopName}}</td>
                            <td>{{this.shopCategory}}</td>
                            <td>{{this.nearPoi}}</td>
                            <td>{{this.radiusToPoI}}</td>
                            
                            <td>
                              <button onclick="window.location.href='/admin/search/edit/{{this.id}}'" class="btn btn-warning" type="button" data-toggle="modal" data-target="#a{{this.id}}">
              
              <span class="pl-1 d-none d-sm-inline-block">Edit</span>
            </button>
                                
                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#a{{this.id}}">
              
              <span class="pl-1 d-none d-sm-inline-block">Delete</span>
            </button>
                            </td>



                                               <td>
                              <button onclick="window.location.href='/admin/result?shopName={{this.shopName}}&category={{this.shopCategory}}'" class="btn btn-primary" type="button">
              
              <span class="pl-1 d-none d-sm-inline-block">Broad Search</span>
            </button>
                                
                               <button onclick="window.location.href='/advancedresult?shopName={{this.shopName}}&category={{this.shopCategory}}&radius={{this.radiusToPoI}}&poiName={{this.nearPoi}}'" class="btn btn-secondary" type="button">
              
              <span class="pl-1 d-none d-sm-inline-block">Fine Search</span>
            </button>          
                            </td>
                        </tr>
                    
                </tbody>
       
          
          
          <!--Delete Modal-->
            <div class="modal fade" id="a{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="Delete Message Modal"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-secondary font-weight-bold"><i
                        class="fas fa-exclamation-triangle"></i> Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-secondary">
                    Are you sure you want to delete "<span class="font-weight-bold">{{this.name}}</span>"?
                    <br> Please be aware that this cannot be undone!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/admin/search/delete/{{this.id}}?_method=DELETE" method="post">
                      <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>
        {{/each}}
          </table>
             {{#if isEmptyRecord}}
        <li
          class="list-group-item d-flex flex-column p-0 justify-content-center align-items-center border-0 h-100 text-secondary empty-message">
          
          <h3>Nothing found, but you can <a href="/admin/search/new">add one here!</h3>
        </li>
        {{/if}}
      </ul>
    </div>
   
  
    <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchBar");
  filter = input.value.toUpperCase();
  table = document.getElementById("searchTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
 
</section>


