
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopping Kwiens</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
		<script src="javascripts/modernizr.custom.js"></script> 
  <link rel="stylesheet" href="/stylesheets/error.css">
<script src="https://assets.what3words.com/sdk/v3/what3words.js?key=S1K5JOJL"></script>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

</head>

<body class="position-relative">
    <script lat = {{this.lat}} lon = {{this.lon}}>
              var lat = document.currentScript.getAttribute('lat');
              var lon = document.currentScript.getAttribute('lon');
             
              what3words.api.convertTo3wa({lat:lat, lng:lon}).then(function(response) {
                 document.getElementsByTagName("what3words-address")[0].setAttribute("words", response.words); 
   
   
   });
   </script>
  <script src="https://assets.what3words.com/sdk/v3/what3words.js"></script>
  <section class="error-container mt-5 position-relative p-3 shadow">
  <div class="rounded w-100 h-100 inner-container d-flex flex-column justify-content-center align-items-center">


<div id="map"></div>
<script lat= "{{this.lat}}" lon= "{{this.lon}}" radius="{{this.radius}}">
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const circradius = urlParams.get('radius')


// Debug end

  let latitude = document.currentScript.getAttribute('lat');
  let longitude = document.currentScript.getAttribute('lon');
latitude = parseFloat(latitude)
longitude = parseFloat(longitude)



  
// Initialize and add the map
function initMap() {
  var rad = 0
  if(circradius.length !== 0){
    rad = circradius;
    rad = parseInt(rad)
  }
  else{
    rad = 0;
  }

  
  var pos = {lat: latitude, lng: longitude};
  
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: pos});
  
  var marker = new google.maps.Marker({position: pos, map: map});


var cirlcle = new google.maps.Circle({
    map: map,
    center: pos,
    radius: rad
});
}

    </script>

<what3words-address words="daring.lion.race"></what3words-address>
  </div>
  
</section>
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCk-06QxktxAZYwFDk8GxpEsIcs0n4RT8&callback=initMap">
    </script>
</body>

</html>