<div class="form-container position-relative shadow">
  <form action="{{#if isEditMode}}/admin/poi/edit/{{record.id}}?_method=PUT{{else}}/admin/poi/new{{/if}}" method="post"
    class="needs-validation" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row mb-4">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">Required*</small>
      </div>
      <div class="col-8">
        <h4 class="text-center font-weight-bold">Enter Poi Details</h4>
      </div>
    </div>
    <!--Display error message-->
    {{> message}}
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="lat" class="col-2 col-form-label ">Latitude*</label>
      <input type="text" name="lat" id="lat" class="col-10 form-control" value="{{record.lat}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Latitude required！
      </div>
    </div>
      <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="lon" class="col-2 col-form-label ">Longetude*</label>
      <input type="text" name="lon" id="lon" class="col-10 form-control" value="{{record.lon}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Longitude required！
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="name" class="col-2 col-form-label">Name*</label>
      <input type="text" name="name" id="name" class="col-10 form-control" value="{{record.name}}" required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        The Poi Name is required
      </div>
    </div>
    
    <div class="">
      <div class="col-2"></div>
      <div class="">
        {{#if record}}
        <input type="submit" value="Submit" class="btn btn-info btn-block">
        {{else}}
        <input type="submit" value="Add Poi" class="btn btn-info btn-block">
        {{/if}}
      </div>
    </div>
  </form>
</div>