<div class="form-container position-relative shadow">
  <form action="{{#if isEditMode}}/admin/search/edit/{{record.id}}?_method=PUT{{else}}/admin/search/new{{/if}}" method="post"
    class="needs-validation" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row mb-4">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">Required*</small>
      </div>
      <div class="col-8">
        <h4 class="text-center font-weight-bold">Enter Search Details</h4>
      </div>
    </div>
    <!--Display error message-->
    {{> message}}
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="name" class="col-2 col-form-label ">Name*</label>
      <input type="text" name="name" id="name" class="col-10 form-control" value="{{record.name}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Name required！
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="shopName" class="col-2 col-form-label">Shop Name*</label>
      <input type="text" name="shopName" id="shopName" class="col-10 form-control" value="{{record.shopName}}" required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        The Shop Name is required
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="shopCategory" class="col-2 col-form-label">Shop Category*</label>
     
        <input type="text" name="shopCategory" id="shopCategory" class="col-10 form-control" value="{{record.shopCategory}}" required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Category required！
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="nearPoi" class="col-2 col-form-label">POI*</label>
      <input type="text" name="nearPoi" id="nearPoi" class="col-10 form-control" value="{{record.nearPoi}}" 
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good！
      </div>
      <div class="invalid-feedback col-10 p-0">
        POI Required
      </div>
    </div>
        <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="radiusToPoI" class="col-2 col-form-label">Radius*</label>
      <input type="text" name="radiusToPoI" id="radiusToPoI" class="col-10 form-control" value="{{record.radiusToPoI}}" 
       required>
      <div class="valid-feedback col-10 p-0">
        Looks Good！
      </div>
      <div class="invalid-feedback col-10 p-0">
        Radius must be less than 100 Km！
      </div>
    </div>
    <div class="">
      <div class="col-2"></div>
      <div class="">
        {{#if record}}
        <input type="submit" value="Submit" class="btn btn-info btn-block">
        {{else}}
        <input type="submit" value="Add Search" class="btn btn-info btn-block">
        {{/if}}
      </div>
    </div>
  </form>
</div>