<div class="form-container position-relative shadow">
  <form action="{{#if isEditMode}}/admin/shop/edit/{{record.id}}?_method=PUT{{else}}/admin/shop/new{{/if}}" method="post"
    class="needs-validation" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row mb-4">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">Required*</small>
      </div>
      <div class="col-8">
        <h4 class="text-center font-weight-bold">Enter Shop Details</h4>
      </div>
    </div>
    <!--Display error message-->
    {{> message}}
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="lat" class="col-2 col-form-label ">Latitude*</label>
      <input type="text" name="lat" id="lat" class="col-10 form-control" value="{{record.lat}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Latitude required！
      </div>
    </div>
      <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="lon" class="col-2 col-form-label ">Longetude*</label>
      <input type="text" name="lon" id="lon" class="col-10 form-control" value="{{record.lon}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Longitude required！
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="name" class="col-2 col-form-label">Name*</label>
      <input type="text" name="name" id="name" class="col-10 form-control" value="{{record.name}}" required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        The Shop Name is required
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="website" class="col-2 col-form-label">Website*</label>

        <input type="text" name="website" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)" id="website" class="col-10 form-control" value="{{record.website}}" required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Website required and must start with http or https！
      </div>
    </div>
  <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="tradingHours" class="col-2 col-form-label ">Trading Hours*</label>
      <input type="text" name="tradingHours" id="tradingHours" class="col-10 form-control" value="{{record.tradingHours}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Trading Hours required！
      </div>
    </div>
  <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="category" class="col-2 col-form-label ">Category*</label>
      <input type="text" name="category" id="category" class="col-10 form-control" value="{{record.category}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Category required！
      </div>
    </div>
      <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="street" class="col-2 col-form-label ">Street*</label>
      <input type="text" name="street" id="street" class="col-10 form-control" value="{{record.street}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        Street required！
      </div>
    </div>
      <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="postalCode" class="col-2 col-form-label ">PostalCode*</label>
      <input type="text" name="postalCode" id="postalCode" class="col-10 form-control" value="{{record.postalCode}}" maxlength="255"
        required>
      <div class="valid-feedback col-10 p-0">
        Looks Good!
      </div>
      <div class="invalid-feedback col-10 p-0">
        PostalCode required！
      </div>
    </div>
    <div class="">
      <div class="col-2"></div>
      <div class="">
        {{#if record}}
         <button type="submit" class="btn btn-info btn-block">Edit Shop</button>
        {{else}}
        <button type="submit" class="btn btn-info btn-block">Add Shop</button>
        {{/if}}
      </div>
    </div>
  </form>
</div>